<html>
  <head>
    <title>Add Friend</title>
  </head>
<body>
  <h1>Add Friend</h1>
  {% if friendrequest == "notadded" %}
    <form action="{{ url_for('add_friend') }}?user={{request.args.get('user')}}&name={{request.args.get('name')}}" method="post">
    Friends Email to Add: <input type="text" name="friend2"> <br> <br>
    <input type="hidden" name="friendrequest" value="added">
    <input type="Submit" value="submit">
    </form>
  {% else %}
    <h3>Friend added! </h3> <br>
    <h4> Go back to <a href="./user-home?user={{request.args.get('user')}}&name={{request.args.get('name')}}"> User-Home </a> </h4>
  {% endif %}
</body>
</html>
